<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <div class="container mt-5">
        <h1>About Me</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="images/headshot.jpg" alt="Your Headshot" class="img-fluid rounded-circle" height="400" width="210">
            </div>
            <div class="col-md-8">
                <h2>Amirmehrbod Panjnoush</h2>
                <br>
                <p>
                    I am a highly motivated and knowledgeable Software Developer with a strong academic background in computer and engineering-related subjects.
                     Currently enrolled in the Software Engineering technology - Artificial Intelligence Advanced 
                     Diploma program at Centennial College, I am passionate about
                      designing and developing software solutions that drive innovation
                       and efficiency. <br>With over 4 years of academic experience, a specialty in AI, and proficiency in various programming languages
                       , including Java, Python, C, C#, and web technologies, I am dedicated to delivering high-quality software solutions.
                        <br>My strong problem-solving skills, adaptability, and effective communication
                         make me a valuable asset in any team. I am committed to continuous learning and growth in the dynamic field of software development.
                </p>
                <!-- Add a link to PDF resume here -->
                <br>
                <p>
                    <a href="/amp resume.pdf" target="_blank" class="btn btn-primary">View Resume (PDF)</a>
                </p>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('./partials/content'); %>

    <footer >
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>
