<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
      </header>

    <div class="container mt-5">
        <div class="jumbotron">
            <h1>Welcome to My Portfolio</h1>
            <p>Thank you for visiting my portfolio website. I'm excited to share my work and experiences with you. Feel free to explore, learn more about me, and discover the projects and services I offer.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
                <a class="btn btn-success btn-lg" href="/projects" role="button">My Projects</a>
            </p>
        </div>
        <div class="mission-statement">
            <h2>Mission Statement</h2>
            <p>
                <br>
                
                As a highly knowledgeable Software Developer, my mission is to create innovative and impactful software solutions that bridge the gap between technology and real-world challenges. With over 4 years of academic experience in computer and engineering-related subjects, and currently pursuing an advanced diploma in Software Engineering technology with a focus on Artificial Intelligence, I am dedicated to designing and developing cutting-edge software.
                <br>
 I am proficient in front end and backened development, advanced database systems and have expertise in networking, including TCP/IP, IPv4/IPv6 Routing, Subnetting, and Maintenance.
<br>
With a strong commitment to clear communication and the ability to work collaboratively with both technical and non-technical stakeholders, I aim to deliver software that not only meets technical excellence but also addresses real-world needs.<br>
My mission is to continuously explore new technologies, enhance my skills, and contribute to the ever-evolving field of software development, ultimately making a positive impact in the tech industry.<br><br>Sincerely<br>-Amirmehrbod Panjnoush

<br>
<br>
<br>
<br>

            </p>
        </div>
    </div>

    <%- include('./partials/content'); %>

    <footer >
        <%- include('./partials/footer'); %>
    </footer>
</body>



</html>
